.publicationBlock{
    width: 400px;
    margin: auto;
    margin-top: 38px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 20px;
}

.publicationBlock .publicationText{
    
}

.publicationBlock hr{
    width: 96%;
    margin: auto;
}

.lowerLine{

}

.lowerLine p{
    display:inline-block;
    margin: 4px 12px 0 12px;
}