.registerForm{
    width: 237px;
    margin: auto;
    margin-top: 38px;
    border: 1px solid black;
    border-radius: 7px;
    padding: 20px;
}
.registerForm input{
    width: 99%;
    margin: 4px 1px;
}

.registerForm button{
    margin-top: 4px;
    width: 120px;
    border: 2.1px solid #797979;
    background: white;
    padding: 3px;
}


.registerForm .buttonsWrapper button{
    display: inline-block;
}

.swapBtn{
    margin-left: 2px;
}